body {
    position: relative;
    background-color: #F9FBE7;
}


ul.nav-pills {
    top: 75px;
    position: fixed;
}

ul.nav-pills > li > a {
    color: #ffffff;
    background-color: #3F51B5;
}

.message-received {
    border-color: #3C763D;
}

/*ul.nav-pills > li:hover {*/
/*background-color: #01031a;*/
/*font-weight: bold;*/
/*}*/

ul.nav-pills > li > a:hover {
    background-color: #01031a;
    font-weight: bold;
}

#list-table-container {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #000;
    font-weight: bold;
    padding-left: 25px;
}

.page-container > .container {
    margin-top: 75px;
}

.navbar {
    background-color: #3F51B5;
}

#event-name {
    color: white;
}